<article class="post container">
    <div class="title card-head">
        <a href="/post/{{id}}" class="card-head">{{title}}</a>
    </div>
    <div class="body">
        {{post_text}}
    </div>
    <div class="meta">
        <strong>Posted By {{user.user_name}} on {{format_date created_at}}</strong>
    </div>
</article>